
<header>
    <a class="site-logomark" href="#">
      <img src="../assets/images/test.jpeg"/> 
    </a>
      <nav>
          <a href="/">Home</a>
          <a href="#">Projects</a>
          <a href="#">About</a>
          <a  href="#">Contact</a>
          <%if (locals.user){%>
          
            <a href="/users/profile"><%=user.name%></a>
            <a href="/users/sign-out" class="contact">Sign Out</a>
          
          <%}else{%>
          <a href="/users/sign-in" class="contact">SignUp/SignIn</a>
          <%}%>
        </nav>
</header>