<div class="wrap">
  <a href="#" title=""><div style="background-image: url(http://static.pexels.com/wp-content/uploads/2015/01/car-interior-oldtimer-4178-526x350.jpeg);"></div><span><h3>Flipkart</h3><p>Backup </p></span></a>

  <a href="#" title=""><div style="background-image: url(http://static.pexels.com/wp-content/uploads/2015/01/car-interior-oldtimer-4178-526x350.jpeg);"></div><span><h3>Testing</h3><p>Testing Description.</p></span></a>
  <a href="#" title=""><div style="background-image: url(http://static.pexels.com/wp-content/uploads/2015/01/car-interior-oldtimer-4178-526x350.jpeg);"></div><span><h3>Testing</h3><p>Testing Description.</p></span></a>
  <a href="#" title=""><div style="background-image: url(http://static.pexels.com/wp-content/uploads/2015/01/car-interior-oldtimer-4178-526x350.jpeg);"></div><span><h3>Testing</h3><p>Testing Description.</p></span></a>

  <a href="#" title=""><div style="background-image: url(http://static.pexels.com/wp-content/uploads/2015/01/car-interior-oldtimer-4178-526x350.jpeg);"></div><span><h3>Testing</h3><p>Testing Description.</p></span></a>

<a href="#" title=""><div style="background-image: url(http://static.pexels.com/wp-content/uploads/2015/01/car-interior-oldtimer-4178-526x350.jpeg);"></div><span><h3>Testing</h3><p>Testing Description.</p></span></a>
<a href="#" title=""><div style="background-image: url(http://static.pexels.com/wp-content/uploads/2015/01/fashion-put-on-shoes-4180-525x350.jpeg);"></div><span><h3>Testing</h3><p>Testing Description.</p></span></a>
<a href="#" title=""><div style="background-image: url(http://static.pexels.com/wp-content/uploads/2015/01/dawn-dust-holiday-4115-622x350.jpeg);"></div><span><h3>Testing</h3><p>Testing Description.</p></span></a>
<a href="#" title=""><div style="background-image: url(http://static.pexels.com/wp-content/uploads/2015/01/apple-business-coffee-4159-525x350.jpg);"></div><span><h3>Testing</h3><p>Testing Description.</p></span></a>
</div>