.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: #1f1b1b;
    text-align: center;
    span{
        color: whitesmoke;
        text-align: center;
        vertical-align: middle;
        line-height: 45px;  
    }
}